body {
    background-color: white;
}

th {
    padding: 5px;
    background-color: blue;
    color: white;
}

#dep {
    text-align: right;
}

#deptype {
    font-size: small;
}

td {
    padding: 0px;
}

#caseword {
    color: blue;
}

#casemarker {
    color: magenta;
    font-weight: bold;
}

#neword {
    color: green;
}

#netype {
    color: orange;
    font-weight: bold;
}

#casemposition {
    color: green;
}

#kakari-keisen {
    background-color: lightcyan;
}

#sem {
    background-color: lightcyan;
}

#synsemhead {
    background-color: blue;
    color: white;
    padding: 5px;
}

#memo {
    font-size: small;
}

#cross {
    background-color: red;
}

#bnst-kugiri {
    padding: 0px;
    font-size: small;
    text-align: center;
    color: darkgray;
    background-color: orange;
}

#tag-kugiri {
    padding: 0px;
    font-size: small;
    text-align: center;
    color: darkgray;
    background-color: FFFF59;
}

#morphrow {
    padding: 5px;
    background-color: lightcyan;
}

#sentiment_exp {
    background-color: yellow;
}

#without_sentiment {
    background-color: lightcyan;
}

#with_sentiment {
    background-color: yellow;
}

#evaluated {
    color: darkblue;
}

#eval_type {
    color: darkred;
    font-weight: bold;
}
